* {
  box-sizing: border-box;
  outline: unset;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  background: #19191c;
}

body {
  padding: 30px 50px 50px 50px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav a {
  position: relative;
  text-decoration: unset;
}

nav li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  margin-right: 10px;
}

#all-preview-articles {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

#all-preview-articles .preview-article-container-global {
  width: 100%;
}

.preview-article-container {
  background: #303035;
  border-radius: 8px;
  padding: 10px;
  color: #fff2f7;
}

.preview-article-container aside {
  margin: 10px 0;
}

.preview-article-container-global {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.preview-article-link {
  display: block;
  text-decoration: unset;
  outline: unset;
}

.preview-article-header {
  display: flex;
}

.preview-article-header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.preview-article-title {
  font-size: 20px;
}

.preview-article-category {
  color: #1bac48;
}

.preview-article-category:before {
  content: "@";
}

.preview-article-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* number of lines to show */
}

.preview-article-picture {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 230px;
}

.preview-article-author {
  text-decoration: unset;
  margin-right: 10px;
  color: #8f8f9f;
}

.preview-article-author:before {
  content: "- ";
}

.preview-article-author:after {
  content: " -";
}

.categories-container {
  color: #8f8f9f;
}

.category-articles {
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  margin-left: 50px;
}

.category-articles .preview-article-container-global {
  margin-right: 30px;
}

#backButton {
  height: 40px;
  width: 40px;
  fill: #fff2f7;
  cursor: pointer;
}

#article-container {
  color: #fff2f7;
  background-color: #303035;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

#article-author-thumbnail {
  position: absolute;
  top: 40px;
  right: 40px;
}

#article-author-thumbnail img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#article-title {
  margin-bottom: 60px;
  font-size: 48px;
}

#article-content {
  font-size: 20px;
}

#article-author {
  color: #8f8f9f;
}

#article-author:before {
  content: "- ";
}

#article-author:after {
  content: " -";
}

#article-category {
  color: #1bac48;
}

#article-category:before {
  content: "@";
}

#article-picture {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-bottom: 30px;
}

#article-aside-data {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

